# Python
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Chroma / Vector DB / Datos locales
data/chroma_db/
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Variables de entorno y secretos
.env
.env.*
!.env.example

# IDEs y SO
.vscode/
.idea/
.DS_Store